* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", Helvetica, sans-serif;
}

.background {
  justify-content: center;
  width: 100%;
  height: 100svh;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /* position: relative; */
}

.top-pic {
  height: clamp(180px, 30vh, 280px);
  width: 100%;
  position: absolute;
  /* position: absolute; */
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.top-back {
  width: 100%;
}
.container {
  width: 90%;
  max-width: 720px;
  padding: 10px;
  background-color: hsl(0, 100%, 100%);
  margin-top: 0px;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 1em hsl(297, 10%, 58%);
  margin-top: 2.5%;
}

.head {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.star_pic {
  width: 40px;
  height: auto;
  padding-right: 20px;
}

.head_text {
  font-size: 40px;
}

.ask {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: space-between;
}

.quest {
  font-size: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.btn {
  margin-right: 20px;
  margin-bottom: 30px;
}
.btn:hover {
  cursor: pointer;
}
.ans {
  display: none;
  color: hsl(278, 3%, 51%);
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 15px;
}
/* 
.content{
    height: 100%;
    width: 100% ;
    background-color: hsl(0, 100%, 100%);
  } */


@media (min-width: 768px) {
  .top-pic {
    width: 100%;
    height: 260px;
    position: absolute;
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .container {
    width: 90%;
    max-width: 720px;
    padding: 20px;
    background-color: hsl(0, 100%, 100%);
    margin-top: 0px;
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0.3em 0.3em 1em hsl(297, 10%, 58%);
    margin-top: 2.5%;
    /* padding: 2.5%; */
  }

  .head {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }
  .star_pic {
    width: 60px;
    height: auto;
    padding-right: 20px;
  }

  .head_text {
    font-size: 60px;
  }

  .ask {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
  }

  .quest {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .btn {
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .btn:hover {
    cursor: pointer;
  }
  .ans {
    display: none;
    color: hsl(278, 3%, 51%);
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: 15px;
  }
}
